[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
requests = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.11"
